@font-face {
  font-family: light_hel;
  src: url(../fonts/4215-font.otf);
}

@keyframes SPIN {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes ReverseScroll {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.logo {
  font-size: 10rem;
  animation: SPIN 7s infinite;
}

.logo_container {
  display: flex;
  justify-content: center;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.icon {
  color: #5a0404;
}

main {
  padding-top: 1rem;
  position: relative;
  /* background-color: #fefae0; */
  z-index: 1;
  min-height: 100vh;
}

body {
  background-color: #fffff4;
  font-family: Helvetica;
  color: #5a0404;
  margin: 0;
}

/* ------------------------------------ */
/* Nav-bar styling */
/* ------------------------------------ */

.nav_menu {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  padding: 0rem;
  position: relative;
}

.nav_menu a {
  text-decoration: none;
  font-size: 1.3rem;
}

.nav_li_home {
  padding-left: 3rem;
}

.nav_li_home a {
  color: black;
}


.nav_li_gallery a {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
}

.nav_li_gallery {
  /* margin-left: 12rem; */
}

.nav_li_walk a {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #5a0404;
  color: #fffff4;
}

.nav_li_profile {
  padding-right: 3rem;
}

.nav_li_signup {
  padding-right: 3rem;
}

/* ------------------------------------ */
/* home page styling */
/* ------------------------------------ */

.home_container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  flex: 1 0 auto;
}

.TITLE_home {
  font-size: 1rem;
  font-style: italic;
}

.thousands {
  font-style: italic;
  color: #fffff4;
  margin: 2rem 0 2rem 0;
}

.home_container section {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}


.home_content_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home1_images_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home1_imgs,
.home2_imgs,
.home3_imgs {
  height: 35%;
  border-radius: 1rem;
  box-shadow: 10px 10px 30px #5a0404;
}

.home1_imgs {
  transform: translate(5rem, -5rem);
}

.home3_imgs {
  transform: translate(-6rem, -5rem);
}

.img1_container,
.img2_container,
.img3_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1_container {
  display: flex;
  flex-direction: column;
  transform: translate(5rem, -5rem);
}


.img2_container {
  display: flex;
  flex-direction: column;
  transform: translateY(2rem);
  z-index: 2;
}


.img3_container {
  display: flex;
  flex-direction: column;
}


.home1_content_section {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-3rem);
}

.home1_prompt {
  font-size: 4.6rem;
}


.home_arrow {
  display: flex;
  justify-content: center;
  transform: translateY(-5.7rem);
}

.home2 {
  position: relative;
  /* Ensure absolute elements are positioned relative to this */
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  overflow: hidden;
}


.create_story {
  font-size: 3rem;
  text-align: center;
}

.create_img {
  border-radius: 1rem;
  width: 100%;
  /* Adjust the image size */
  margin: 0 10px;
  object-fit: cover;
  /* animation: scroll 5s infinite; */
}

.create_img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 100%;
}

.create_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Text stays on top */
}

.BEGIN {
  margin-top: 2rem;
  background-color: #5a0404;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: none;
  color: #fffff4;
  cursor: pointer;
}

.blur_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(10px);
  /* Blurs everything behind it */
  background: rgba(255, 255, 255, 0.1);
  /* Slight white tint for a softened effect */

  z-index: 1;
  /* Ensure it's above the images but below the text */
}



/* ------------------------------------ */
/* signup page styling */
/* ------------------------------------ */

.signup_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

.signup_header {
  margin-top: 5rem;
  font-size: 2.5rem;
}

.signup_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: #fafaea;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 1rem;
}

.create_heading_container {
  margin-bottom: 3rem;
  padding-bottom: 0.7rem;
  border-style: none none solid none;
  border-width: 0.1rem;
}


.create_heading_container p,
h1 {
  margin: 0rem;
}

.create_heading_container p {
  font-size: 0.7rem;
}

#create-heading {
  margin-bottom: 0.5rem;
}

.signup_input_container {
  display: flex;
  flex-direction: column;
}

.signup_input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #5a0404;
  border-radius: 0.5rem;
  border-style: none;
  /* border-color: #5a0404; */
}

#password {
  margin-top: 2rem;
}

.signup_button_container {
  margin-top: 2rem;
}

.signup_button {
  padding: 0.5rem 4rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #5a0404;
  color: #fffff4;
  border-style: none;
  cursor: pointer;
}

/* ------------------------------------ */
/* Gallery Display styling */
/* ------------------------------------ */

.search_gallery_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchbar_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 3rem 0 1rem 0;
  align-items: center;
}

.search_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search_form input {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.5px solid #5a0404;
  background-color: #fafaea;
  color: #5a0404;
}

.search_button {
  background-color: transparent;
  border: none;
  /* padding: 0.3rem; */
  cursor: pointer;
}

.select_container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
}

.gallery_select {
  border-radius: 0.5rem;
  border: 0.5px solid #5a0404;
  background-color: #fafaea;
  padding: 0.5rem 1rem;
  color: #5a0404;
  width: 20%;
}

:root {
  --card_width: 250px;
  /* Adjust to control the width of each card */
  /* --row_increment: 10px; */
  /* Base row height */
  --card_small: 26;
  --card_mid: 33;
  --card_large: 45;
}

.gallery_display_container {
  width: 100%;
}

.card_container {
  width: 1400px;
  align-items: center;
  columns: 5;
  column-gap: 10px;
  width: 100%;
}

.card_list {
  list-style: none;
  padding: 0;
}

.artwork_img {
  border-radius: 0.5rem;
  max-width: 100%;
  width: 100%;
}

.card_container .img_card {
  width: 100%;
  margin-bottom: 10px;
}



.no_artworks_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 0;
}

/* ------------------------------------ */
/* searching display styling */
/* ------------------------------------ */

.search_result {
  margin: 2rem 0 2rem 0;
}


/* ------------------------------------ */
/* profile styling */
/* ------------------------------------ */


.display_content_container {
  display: flex;
  flex-direction: column;
}

.username_logout_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.username_logout_container h1 {
  font-size: 5.5rem;
}

.profile_button {
  border-color: black;
  background-color: transparent;
  cursor: pointer;
  font-style: italic;
  border-style: none none solid none;
  border-width: 0.1rem;
  padding: 0;
  /* margin-top: 0.5rem; */
}

.userContent_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.userContent_container h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  border-style: none none solid none;
}

.publish_container {
  margin-bottom: 1.5rem;
}

.publish_button {
  border-color: black;
  padding: 0.2rem 0.5rem;
  color: #fffff4;
  background-color: #5a0404;
  cursor: pointer;
  border-style: none;
  border-radius: 1rem;
  /* border-width: 0.1rem; */
  /* padding: 0; */
  /* margin-top: 0.5rem; */
}

.no_likes_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ------------------------------------ */
/* walk styling */
/* ------------------------------------ */

.walk_move_container {
  display: flex;
  /* border-style: solid; */
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.walk_container {
  display: flex;
  width: 100%;
}


.walk_list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.walk_item {
  margin: 2rem 0;
}

.walk_artwork {
  margin: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.walk_username {
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}

.move_button {
  margin-top: 3rem;
  border-color: black;
  padding: 0.5rem 1rem;
  color: #fffff4;
  background-color: #5a0404;
  cursor: pointer;
  border-style: none;
  border-radius: 1rem;
}

.logo_container_walk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 13rem 0 0 0;
}

.logo_container_walk p {
  margin: 0;
}

/* ------------------------------------ */
/* Artwork_GALLERY MODAL display styling */
/* ------------------------------------ */

.artwork_modal_overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.artwork_modal_content {
  background-color: #fffff4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.artwork_modal_img {
  width: 13rem;
  max-width: 500px;
  border-radius: 5px;
}

.artwork_modal_title {
  margin-top: 10px;
  font-size: 1.5rem;
}

.artwork_modal_text {
  color: gray;
}

.modal_artwork {
  width: 100%;
}

.artwork_button {
  margin-top: 1rem;
  background-color: #5a0404;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: none;
  color: #fffff4;
  cursor: pointer;
}

/* ------------------------------------ */
/* this is for desktop -> mobile  */
/* ------------------------------------ */
.main_container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}